{"swagger":"2.0","info":{"description":"This specification covers authorized endpoints only\nCheck <a href=\"/swagger-ui/?urls.primaryName=public\">public</a> specification for public accessible endpoints","version":"1.0","title":"WhiteDoc Api Documentation"},"host":"api.private.whitedoc.space","basePath":"/","tags":[{"name":"account-controller","description":"Account Controller"},{"name":"alias-controller","description":"Alias Controller"},{"name":"audit-trail-controller","description":"Audit Trail Controller"},{"name":"category-controller","description":"Category Controller"},{"name":"contact-controller","description":"Contact Controller"},{"name":"dictionary-controller","description":"Dictionary Controller"},{"name":"envelope-controller","description":"Envelope Controller"},{"name":"filter-settings-controller","description":"Filter Settings Controller"},{"name":"integration-controller","description":"Integration Controller"},{"name":"label-controller","description":"Label Controller"},{"name":"mailbox-controller","description":"Mailbox Controller"},{"name":"misc-controller","description":"Misc Controller"},{"name":"notification-controller","description":"Notification Controller"},{"name":"permission-account-controller","description":"Permission Account Controller"},{"name":"permission-controller","description":"Permission Controller"},{"name":"permission-mailbox-controller","description":"Permission Mailbox Controller"},{"name":"permission-user-controller","description":"Permission User Controller"},{"name":"role-controller","description":"Role Controller"},{"name":"template-controller","description":"Template Controller"},{"name":"upload-controller","description":"Upload Controller"},{"name":"user-controller","description":"User Controller"},{"name":"validation-controller","description":"Validation Controller"}],"paths":{"/api/v1/account":{"post":{"tags":["account-controller"],"summary":"Create account and mailbox(es) under this account. User will be assigned with default system roles for this account and mailbox(es).","operationId":"createUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"account","description":"account","required":true,"schema":{"$ref":"#/definitions/AccountCreateDTO"}},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"code","in":"query","description":"Invitation code from email","required":false,"type":"string"},{"name":"codeType","in":"query","description":"Type of code","required":false,"type":"string","enum":["envelopeInvite","other"]}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/User2AccountWithMailboxesDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/account/mailbox/{uuid}":{"get":{"tags":["account-controller"],"summary":"Users and their permissions by mailbox","operationId":"getMailboxUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MailboxAccountSimpleDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/account/{accountUuid}/domain":{"get":{"tags":["account-controller"],"summary":"Get paged account domains list","operationId":"getAccountDomainsUsingGET","produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"keyword","in":"query","description":"Domain name or part of name","required":false,"type":"string"},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"type":"integer","default":25,"format":"int32"},{"name":"offset","in":"query","description":"Offset records","required":false,"type":"integer","default":0,"format":"int32"},{"name":"status","in":"query","description":"Domain status","required":false,"type":"string","enum":["ACTIVE","INACTIVE","UNVERIFIED","VERIFIED"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageDTO«AccountDomainDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"post":{"tags":["account-controller"],"summary":"Create account domain","operationId":"createAccountDomainUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"request","description":"New domain info","required":true,"schema":{"$ref":"#/definitions/AccountDomainCreateDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountDomainDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/account/{accountUuid}/domain/{domainUuid}":{"get":{"tags":["account-controller"],"summary":"Get account domain","operationId":"getAccountDomainUsingGET","produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountDomainDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["account-controller"],"summary":"Delete account domain","operationId":"deleteAccountDomainUsingDELETE","produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/account/{accountUuid}/domain/{domainUuid}/{action}":{"patch":{"tags":["account-controller"],"summary":"Change account domain status","operationId":"actionAccountDomainUsingPATCH","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"action","in":"path","description":"Action","required":true,"type":"string","enum":["activate","check","confirm","deactivate","verify"]},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"body","description":"Action parameters","required":false,"schema":{"$ref":"#/definitions/ChangeDomainStatusDTO"}},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountDomainDTO"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/account/{accountUuid}/mailbox":{"get":{"tags":["account-controller"],"summary":"Get paged account mailboxes list","operationId":"searchMailboxesUsingGET","produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"keyword","in":"query","description":"Keyword to search mailbox by or mailbox UUID","required":false,"type":"string"},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"type":"integer","default":25,"format":"int32"},{"name":"offset","in":"query","description":"Offset records","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageDTO«AccountMailboxInfoDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/account/{accountUuid}/user":{"post":{"tags":["account-controller"],"summary":"Create corporate user","operationId":"createCorporateUserUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"dto","description":"New user details","required":true,"schema":{"$ref":"#/definitions/CorporateUserCreateDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["account-controller"],"summary":"Delete corporate users","operationId":"deleteCorporateUsersUsingDELETE","produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"checkMessage","in":"query","description":"Proof message","required":true,"type":"string"},{"in":"body","name":"userUuids","description":"UUIDs of users to delete","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SingleUuidDTO"}}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/account/{accountUuid}/users":{"post":{"tags":["account-controller"],"summary":"Mass create corporate users","operationId":"createMassAccountUsersUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"file","description":"file","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/account/{accountUuid}/users/example":{"get":{"tags":["account-controller"],"summary":"Get account users import file example","operationId":"getAccountUsersImportFileExampleUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/account/{uuid}":{"get":{"tags":["account-controller"],"summary":"getAccountDetails","operationId":"getAccountDetailsUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string","format":"uuid"},{"name":"withUsers","in":"query","description":"withUsers","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["account-controller"],"summary":"updateAccountDetails","operationId":"updateAccountDetailsUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"account","description":"account","required":true,"schema":{"$ref":"#/definitions/AccountDTO"}},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["account-controller"],"summary":"Delete account","operationId":"deleteAccountUsingDELETE","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"checkMessage","in":"query","description":"Proof message","required":true,"type":"string"},{"name":"uuid","in":"path","description":"UUID of account to delete","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/alias":{"post":{"tags":["alias-controller"],"summary":"Save alias to DB","operationId":"createUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"alias","description":"Alias to create","required":true,"schema":{"$ref":"#/definitions/AliasDTO"}},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/AliasDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["alias-controller"],"summary":"Delete alias","operationId":"deleteAliasUsingDELETE","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"Mailbox","in":"header","description":"Mailbox","required":true,"type":"string","format":"uuid"},{"name":"name","in":"query","description":"name","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/alias/mailbox":{"get":{"tags":["alias-controller"],"summary":"Get aliases by mailbox","operationId":"getAllByMailboxUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AliasDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/audittrail/envelope/{uuid}":{"get":{"tags":["audit-trail-controller"],"summary":"getAuditTrailByEnvelope","operationId":"getAuditTrailByEnvelopeUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string","format":"uuid"},{"name":"withData","in":"query","description":"withData","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuditTrailDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/audittrail/pdf/{uuid}":{"get":{"tags":["audit-trail-controller"],"summary":"Download audit trail pdf for envelope","operationId":"generateAuditTrailPdfUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"uuid","in":"path","description":"Envelope UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/category":{"post":{"tags":["category-controller"],"summary":"Save a category in DB","operationId":"createUsingPOST_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"category","description":"Category to save","required":true,"schema":{"$ref":"#/definitions/CategoryDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/CategoryDTO"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/category/{access}":{"get":{"tags":["category-controller"],"summary":"Retrieve all categories by id of specified 'access' type","operationId":"getAllByTypeUsingGET","produces":["application/json"],"parameters":[{"name":"access","in":"path","description":"Type of level to retrieve categories by","required":true,"type":"string","enum":["account","mailbox","official","pub"]},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"List of Categories","schema":{"type":"array","items":{"$ref":"#/definitions/CategoryDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/category/{id}":{"put":{"tags":["category-controller"],"summary":"Update the category in DB","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"category","description":"Category to update","required":true,"schema":{"$ref":"#/definitions/CategoryDTO"}},{"name":"id","in":"path","description":"Category Id","required":true,"type":"integer","format":"int64"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CategoryDTO"}},"201":{"description":"Success","schema":{"$ref":"#/definitions/CategoryDTO"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["category-controller"],"summary":"Delete category by Id","operationId":"deleteUsingDELETE","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"id","in":"path","description":"Category Id","required":true,"type":"integer","format":"int64"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"moveTo","in":"query","description":"Optional id of category to move all subordinated (if any)","required":false,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Success"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/contact":{"post":{"tags":["contact-controller"],"summary":"Save a contact in DB","operationId":"createUsingPOST_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"contact","description":"Contact to save","required":true,"schema":{"$ref":"#/definitions/ContactDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/ContactDTO"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/contact/list":{"get":{"tags":["contact-controller"],"summary":"Retrieve all contacts by id of specified 'access' type and name","operationId":"searchOrListUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"keyword","in":"query","description":"Request parameter, term to search template by","required":false,"type":"string"},{"name":"limit","in":"query","description":"Limit, how much TemplateInfo to retrieve","required":false,"type":"integer","default":25,"format":"int32"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"offset","in":"query","description":"Offset, how much TemplateInfo to skip","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"Page of Contacts","schema":{"$ref":"#/definitions/PageDTO«ContactDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/contact/{id}":{"delete":{"tags":["contact-controller"],"summary":"Delete contact by Id","operationId":"deleteUsingDELETE_1","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"id","in":"path","description":"Contact Id","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"204":{"description":"Success"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/contact/{uuid}":{"put":{"tags":["contact-controller"],"summary":"Update the contact in DB","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"contact","description":"Contact to update","required":true,"schema":{"$ref":"#/definitions/ContactDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"uuid","in":"path","description":"Contact UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactDTO"}},"201":{"description":"Success","schema":{"$ref":"#/definitions/ContactDTO"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary":{"get":{"tags":["dictionary-controller"],"summary":"Get paged dictionary list","operationId":"searchDictionariesUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"keyword","in":"query","description":"Keyword to search dictionary by or dictionary UUID","required":false,"type":"string"},{"name":"level","in":"query","description":"Dictionary access level, 'pub' by default.","required":false,"type":"string","default":"pub","enum":["account","mailbox","official","pub"]},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"type":"integer","default":25,"format":"int32"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"offset","in":"query","description":"Offset records","required":false,"type":"integer","default":0,"format":"int32"},{"name":"withColumns","in":"query","description":"Add columns description to each dictionary","required":false,"type":"boolean","default":false},{"name":"withRecordsCount","in":"query","description":"Add records count value to each dictionary","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageDTO«DictionaryResponseDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"post":{"tags":["dictionary-controller"],"summary":"Create empty dictionary","operationId":"createDictionaryUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/SingleUuidDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}":{"get":{"tags":["dictionary-controller"],"summary":"Read/get dictionary","operationId":"readDictionaryUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"UUID of dictionary","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"withColumns","in":"query","description":"Add columns description to each dictionary","required":false,"type":"boolean","default":false},{"name":"withRecordsCount","in":"query","description":"Add records count value to each dictionary","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DictionaryResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"patch":{"tags":["dictionary-controller"],"summary":"Update dictionary","operationId":"patchDictionaryUsingPATCH","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"changes","description":"Dictionary info","required":true,"schema":{"$ref":"#/definitions/DictionaryRequestDTO"}},{"name":"dictionaryUuid","in":"path","description":"UUID of dictionary","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DictionaryResponseDTO"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/archive":{"patch":{"tags":["dictionary-controller"],"summary":"Archive dictionary","operationId":"archiveUsingPATCH","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/check":{"get":{"tags":["dictionary-controller"],"summary":"Check dictionary. Check access, existence, etc.","operationId":"checkDictionaryUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"UUID of dictionary","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DictionaryCheckResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/column":{"post":{"tags":["dictionary-controller"],"summary":"Create dictionary column","operationId":"createColumnUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"column","description":"New column info","required":true,"schema":{"$ref":"#/definitions/DictionaryColumnRequestDTO"}},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/SingleUuidDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/column/{columnUuid}":{"get":{"tags":["dictionary-controller"],"summary":"Retrieve column values from dictionary","operationId":"getColumnValuesUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"type":"string","format":"uuid"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"name":"keyword","in":"query","description":"Keyword to search by","required":false,"type":"string"},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"type":"integer","default":25,"format":"int32"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"offset","in":"query","description":"Offset records","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageDTO«DictionaryColumnValueResponseDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"put":{"tags":["dictionary-controller"],"summary":"Update dictionary column","operationId":"updateColumnUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"column","description":"Column info","required":true,"schema":{"$ref":"#/definitions/DictionaryColumnRequestDTO"}},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"type":"string","format":"uuid"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DictionaryColumnResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["dictionary-controller"],"summary":"Delete column. Will return deleted column UUID","operationId":"deleteColumnUsingDELETE","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"type":"string","format":"uuid"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"204":{"description":"No Content","schema":{"$ref":"#/definitions/SingleUuidDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/column/{columnUuid}/check":{"get":{"tags":["dictionary-controller"],"summary":"Check dictionary column. Check access, existence, etc.","operationId":"getColumnValuesUsingGET_1","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"type":"string","format":"uuid"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DictionaryCheckResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/download":{"post":{"tags":["dictionary-controller"],"summary":"Download the dictionary","operationId":"downloadUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"UUID of dictionary","required":true,"type":"string","format":"uuid"},{"in":"body","name":"downloadParams","description":"downloadParams","required":true,"schema":{"$ref":"#/definitions/DictionaryDownloadParamsDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"201":{"description":"Created","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/record":{"post":{"tags":["dictionary-controller"],"summary":"Create record(s)","operationId":"createRecordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"in":"body","name":"records","description":"Records to insert. Each record is list of column values","required":true,"schema":{"type":"array","items":{"type":"array","items":{"$ref":"#/definitions/DictionaryColumnValueRequestDTO"}}}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/CreateRecordsResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["dictionary-controller"],"summary":"Delete record(s). Will return deleted records UUID(s)","operationId":"deleteRecordsUsingDELETE","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"in":"body","name":"uuids","description":"Record UUID(s)","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SingleUuidDTO"}}}],"responses":{"204":{"description":"No Content","schema":{"type":"array","items":{"$ref":"#/definitions/SingleUuidDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/record/{recordUuid}":{"get":{"tags":["dictionary-controller"],"summary":"Retrieve record","operationId":"getDictionaryRecordUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"recordUuid","in":"path","description":"Record UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DictionaryRecordValuesResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"patch":{"tags":["dictionary-controller"],"summary":"Update record column values","operationId":"patchRecordUsingPATCH","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"recordUuid","in":"path","description":"Record UUID","required":true,"type":"string","format":"uuid"},{"in":"body","name":"values","description":"Column values to be updated","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/DictionaryColumnValueRequestDTO"}}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/record/{recordUuid}/column/{columnUuid}":{"get":{"tags":["dictionary-controller"],"summary":"Retrieve column value for specific record","operationId":"getColumnValueUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"type":"string","format":"uuid"},{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"type":"string","format":"uuid"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"recordUuid","in":"path","description":"Record UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DictionaryColumnValueResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/records":{"post":{"tags":["dictionary-controller"],"summary":"Get dictionary records","operationId":"getDictionaryRecordsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"dictionaryUuid","in":"path","description":"UUID of dictionary","required":true,"type":"string","format":"uuid"},{"in":"body","name":"filters","description":"filters","required":true,"schema":{"$ref":"#/definitions/DictionaryFiltersRequestDTO"}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"type":"integer","default":25,"format":"int32"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"offset","in":"query","description":"Offset records","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageDTO«DictionaryRecordValuesResponseDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope":{"post":{"tags":["envelope-controller"],"summary":"Create envelope draft","operationId":"createUsingPOST_4","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"envelopeDto","description":"Envelope to create","required":true,"schema":{"$ref":"#/definitions/EnvDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"201":{"description":"Successfully created","schema":{"$ref":"#/definitions/SingleUuidDTO"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"put":{"tags":["envelope-controller"],"summary":"Update draft envelope","operationId":"updateUsingPUT_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"envelopeDto","description":"Envelope to update","required":true,"schema":{"$ref":"#/definitions/EnvDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"Successfully updated"},"201":{"description":"Created"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Delete draft envelopes","operationId":"deleteDraftsUsingDELETE","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"in":"body","name":"uuids","description":"Draft Envelope UUIDs to delete","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SingleUuidDTO"}}}],"responses":{"200":{"description":"Successfully deleted"},"204":{"description":"No Content"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/action/{action}":{"put":{"tags":["envelope-controller"],"summary":"Actions on envelope lifecycle","operationId":"processUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"action","in":"path","description":"Action to process","required":true,"type":"string","enum":["cancel","fill"]},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"dataMap","description":"Envelope to update","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"Successfully updated"},"201":{"description":"Created"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/archive/{flag}":{"patch":{"tags":["envelope-controller"],"summary":"Archive envelopes","operationId":"archiveUsingPATCH_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"flag","in":"path","description":"flag","required":true,"type":"boolean"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"in":"body","name":"uuids","description":"Envelope UUIDs to archive","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SingleUuidDTO"}}}],"responses":{"200":{"description":"Success"},"204":{"description":"No Content"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/attachment":{"post":{"tags":["envelope-controller"],"summary":"Create/upload new attachment","operationId":"createAttachmentUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"file","description":"file","required":true,"schema":{"type":"string","format":"binary"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/UploadedAttachmentDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/check":{"post":{"tags":["envelope-controller"],"summary":"Check an envelope","operationId":"checkUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"envelope","description":"Envelope to check","required":true,"schema":{"$ref":"#/definitions/EnvDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"Successfully requested check","schema":{"$ref":"#/definitions/ValidationResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/confirm-invite":{"post":{"tags":["envelope-controller"],"summary":"Accept/confirm invitation providing mailbox that should be used instead of email. For a user already registered before.","operationId":"confirmInviteUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"code","in":"query","description":"Invitation code from email","required":true,"type":"string"},{"name":"mailboxUuid","in":"query","description":"UUID of mailbox user selected for this invitation instead of email","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Success"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Access to mailbox forbidden"},"404":{"description":"Invitation not found"},"409":{"description":"Invitation isn't for a current user"},"410":{"description":"Mailbox deleted"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/invite-authorized-info":{"get":{"tags":["envelope-controller"],"summary":"Get information about envelope by the invitation code (by already registered user)","operationId":"getEnvelopeInviteAuthorizedUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"code","in":"query","description":"Invitation code from email","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/InvitedEnvelopeInfoDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Invitation not found"},"409":{"description":"Invitation isn't for a current user"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/invite-info":{"get":{"tags":["envelope-controller"],"summary":"Get information about envelope by the invitation code (by unauthenticated user)","operationId":"getEnvelopeInviteUnauthorizedUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"code","in":"query","description":"Invitation code from email","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/InvitedEnvelopeInfoDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Invitation not found"},"409":{"description":"Invitation isn't for a current user"}}}},"/api/v1/envelope/send":{"post":{"tags":["envelope-controller"],"summary":"Send envelope","operationId":"sendUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"in":"body","name":"sendEnvelopeDto","description":"Envelope to send","required":true,"schema":{"$ref":"#/definitions/EnvDTO"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/SingleUuidDTO"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/{envelopeUuid}/attachment":{"get":{"tags":["envelope-controller"],"summary":"Download envelope attachment","operationId":"downloadEnvelopeAttachmentUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"attachmentUuid","in":"query","description":"Attachment Uuid","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/{envelopeUuid}/for-sign":{"post":{"tags":["envelope-controller"],"summary":"PDFs and XMLs for signing","operationId":"getDocumentsForSignUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"docIds","description":"Document IDs","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DocumentForSigningDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"},"425":{"description":"Too Early. Please try later"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/{envelopeUuid}/sign":{"put":{"tags":["envelope-controller"],"summary":"Sign envelope documents","operationId":"signUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"envelopeUuid","in":"path","description":"Envelope to update","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"in":"body","name":"signatures","description":"Document signatures","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EnvelopeDocumentSignaturesDTO"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/{envelopeUuid}/zip":{"get":{"tags":["envelope-controller"],"summary":"Get envelope or document zip archive","operationId":"getEnvelopeZipUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"documentId","in":"query","description":"Document id","required":false,"type":"string"},{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"425":{"description":"Too Early. Please try later"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/{uuid}":{"get":{"tags":["envelope-controller"],"summary":"Retrieve envelope by UUID","operationId":"getEnvelopeByUuidUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"uuid","in":"path","description":"UUID of envelope to retrieve","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EnvelopeWithTemplateDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/envelope/{uuid}/activeRoles":{"get":{"tags":["envelope-controller"],"summary":"Get active roles by Envelope UUID","operationId":"getActiveRolesUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"uuid","in":"path","description":"UUID of envelope to get active roles from","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SingleUuidDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/filterSettings":{"get":{"tags":["filter-settings-controller"],"summary":"Read all by mailbox","operationId":"getAllUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FilterSettingsDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"post":{"tags":["filter-settings-controller"],"summary":"Create FilterSettings for mailbox","operationId":"createUsingPOST_5","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"filterSettings","description":"filterSettings","required":true,"schema":{"$ref":"#/definitions/FilterSettingsCreateDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/SingleUuidDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/filterSettings/{uuid}":{"get":{"tags":["filter-settings-controller"],"summary":"Get by UUID","operationId":"getByUuidUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"Mailbox","in":"header","description":"Mailbox","required":true,"type":"string","format":"uuid"},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FilterSettingsDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"put":{"tags":["filter-settings-controller"],"summary":"Update FilterSettings for mailbox","operationId":"updateUsingPUT_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"filterSettings","description":"filterSettings","required":true,"schema":{"$ref":"#/definitions/FilterSettingsDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["filter-settings-controller"],"summary":"Delete FilterSettings","operationId":"deleteUsingDELETE_2","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/integration/new-password/{mailboxUuid}":{"post":{"tags":["integration-controller"],"summary":"Generate and save new password","operationId":"newPasswordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/integration/rule/execute":{"post":{"tags":["integration-controller"],"summary":"Execute conversion map and generate file name (if pattern rule defined)","operationId":"executeUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"requestDTO","description":"Request details","required":true,"schema":{"$ref":"#/definitions/IntegrationRuleRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IntegrationRuleResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/integration/rule/{integrationRuleUuid}":{"get":{"tags":["integration-controller"],"summary":"Get Mailbox integration rule","operationId":"getMailboxIntegrationRuleUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IntegrationRuleDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"put":{"tags":["integration-controller"],"summary":"Update Mailbox integration rule","operationId":"updateMailboxIntegrationRuleUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"integrationRuleDTO","description":"Integration rule","required":true,"schema":{"$ref":"#/definitions/IntegrationRuleDTO"}},{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IntegrationRuleDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["integration-controller"],"summary":"Delete Mailbox integration rule","operationId":"updateMailboxIntegrationRuleUsingDELETE","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/integration/rule/{mailboxUuid}":{"post":{"tags":["integration-controller"],"summary":"Create Mailbox integration rule","operationId":"createMailboxIntegrationRuleUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"integrationRuleDTO","description":"Integration rule","required":true,"schema":{"$ref":"#/definitions/IntegrationRuleDTO"}},{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IntegrationRuleDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/integration/rules/{mailboxUuid}":{"get":{"tags":["integration-controller"],"summary":"Get Mailbox integration rules","operationId":"getMailboxIntegrationRulesUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IntegrationRuleDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/integration/source/{templateUuid}/{mailboxUuid}":{"get":{"tags":["integration-controller"],"summary":"Generate envelope XML by template","operationId":"generateUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"mailboxUuid","in":"path","description":"Mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"templateUuid","in":"path","description":"Template UUID","required":true,"type":"string","format":"uuid"},{"name":"versionUuid","in":"query","description":"Template version UUID","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/integration/{mailboxUuid}":{"get":{"tags":["integration-controller"],"summary":"Get Mailbox integration","operationId":"getMailboxIntegrationUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IntegrationDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"post":{"tags":["integration-controller"],"summary":"Create/update Mailbox integration","operationId":"saveMailboxIntegrationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"integrationDTO","description":"Integration info","required":true,"schema":{"$ref":"#/definitions/IntegrationDTO"}},{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/label":{"get":{"tags":["label-controller"],"summary":"Retrieve all labels for mailbox for authorized user","operationId":"getAllUsingGET_1","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LabelDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"post":{"tags":["label-controller"],"summary":"Save label to DB","operationId":"createUsingPOST_6","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"label","description":"Label to save","required":true,"schema":{"$ref":"#/definitions/LabelDTO"}},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/LabelDTO"}},"204":{"description":"Success","schema":{"$ref":"#/definitions/LabelDTO"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/label/{labelUuid}/assignments":{"post":{"tags":["label-controller"],"summary":"Assign label to envelopes","operationId":"assignmentsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"assignments","description":"List of envelopes UUID to assign","required":true,"schema":{"$ref":"#/definitions/LabelAssociationDTO"}},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"labelUuid","in":"path","description":"UUID of label to assign","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"Success"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["label-controller"],"summary":"Unassign label from envelopes","operationId":"deAssignmentsUsingDELETE","produces":["application/json"],"parameters":[{"in":"body","name":"assignments","description":"List of envelopes UUID to de-assign","required":true,"schema":{"$ref":"#/definitions/LabelAssociationDTO"}},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"labelUuid","in":"path","description":"UUID of label to assign","required":true,"type":"string","format":"uuid"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"200":{"description":"Success"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"}},"security":[{"Bearer":[]}]}},"/api/v1/label/{uuid}":{"put":{"tags":["label-controller"],"summary":"Update label","operationId":"updateUsingPUT_4","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"Mailbox","in":"header","description":"Mailbox","required":true,"type":"string","format":"uuid"},{"in":"body","name":"updateLabel","description":"Label fields to update","required":true,"schema":{"$ref":"#/definitions/LabelDTO"}},{"name":"uuid","in":"path","description":"UUID of label to update","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LabelDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["label-controller"],"summary":"Delete label","operationId":"deleteUsingDELETE_3","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"uuid","in":"path","description":"UUID of label to delete","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"Success"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/locales":{"get":{"tags":["misc-controller"],"summary":"locales","operationId":"localesUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LocaleItemDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/mailbox":{"get":{"tags":["mailbox-controller"],"summary":"Retrieve user's mailboxes list","operationId":"getAllForUserUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/User2MailboxDTO"}}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["mailbox-controller"],"summary":"Delete mailbox by UUID in the header.","operationId":"deleteUsingDELETE_4","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"checkMessage","in":"query","description":"Proof message","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true}],"responses":{"204":{"description":"Ok"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/account/{uuid}":{"get":{"tags":["mailbox-controller"],"summary":"Read list of mailboxes","operationId":"getMailboxesByAccountUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"uuid","in":"path","description":"UUID of account for which to create a mailbox","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MailboxNameUuidDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"post":{"tags":["mailbox-controller"],"summary":"Create mailbox","operationId":"createMailboxUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"code","in":"query","description":"Invitation code from email","required":false,"type":"string"},{"name":"codeType","in":"query","description":"Type of code","required":false,"type":"string","enum":["envelopeInvite","other"]},{"in":"body","name":"mailboxCreate","description":"Mailbox to create","required":true,"schema":{"$ref":"#/definitions/MailboxCreateDTO"}},{"name":"uuid","in":"path","description":"UUID of account for which to create a mailbox","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/User2MailboxDTO"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden access to account"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/activity-log":{"get":{"tags":["mailbox-controller"],"summary":"Audit trail feed for mailbox","description":"Records sorted by date in descending order","operationId":"getActivityLogUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"from","in":"query","description":"A datetime value in 'ISO-8601' format, lowest record date, default - 3 days ago","required":false,"type":"string"},{"name":"limit","in":"query","description":"Limit, how much records to retrieve, max is 1000","required":false,"type":"integer","default":25,"format":"int32"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"},{"name":"offset","in":"query","description":"Offset, how much records to skip","required":false,"type":"integer","default":0,"format":"int32"},{"name":"to","in":"query","description":"A datetime value in 'ISO-8601' format, highest record date, default - now","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PageDTO«MailboxActivityLogRecordDTO»"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/name/{uuid}":{"get":{"tags":["mailbox-controller"],"summary":"Retrieve mailboxes name","operationId":"getMbUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"uuid","in":"path","description":"UUID of mailbox to get name","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Success","schema":{"type":"object","additionalProperties":{"type":"object"}}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/names":{"post":{"tags":["mailbox-controller"],"summary":"Retrieve mailboxes names","operationId":"getMbsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"uuids","description":"UUIDs of mailboxes to get names","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Success","schema":{"type":"object","additionalProperties":{"type":"object"}}},"201":{"description":"Created"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/search":{"get":{"tags":["mailbox-controller"],"summary":"Search mailboxes by contact, alias, user","operationId":"searchMailboxesUsingGET_1","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"q","in":"query","description":"String to search by, can be text, email, mailbox UUID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MailboxSearchResultDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/stat":{"get":{"tags":["mailbox-controller"],"summary":"Get number of unread envelopes in every scope","operationId":"getStatUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/StatDTO"}},"400":{"description":"Bad request"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"410":{"description":"Mailbox or Account deleted"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/templates/used":{"get":{"tags":["mailbox-controller"],"summary":"List of used templates","operationId":"getUsedTemplatesUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"limit","in":"query","description":"Limit, how much envelopes to retrieve","required":false,"type":"integer","default":25,"format":"int32"},{"in":"header","name":"Mailbox","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true},{"name":"name","in":"query","description":"Template name to search by","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset, how much envelopes to skip","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PageDTO«UsedTemplateDTO»"}},"400":{"description":"Bad request"},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/{mailboxUuid}":{"put":{"tags":["mailbox-controller"],"summary":"Update mailbox","operationId":"updateMailboxUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"data","description":"Mailbox update data","required":true,"schema":{"$ref":"#/definitions/MailboxUpdateRequestDTO"}},{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountMailboxInfoDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"patch":{"tags":["mailbox-controller"],"summary":"Patch mailbox, return patched mailbox w/o users count","operationId":"patchMailboxUsingPATCH","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"data","description":"Mailbox update data","required":true,"schema":{"$ref":"#/definitions/MailboxPatchRequestDTO"}},{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountMailboxInfoDTO"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/{mailboxUuid}/users":{"delete":{"tags":["mailbox-controller"],"summary":"Delete mailbox users except requester","operationId":"deleteMailboxUsersUsingDELETE","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"mailboxUuid","in":"path","description":"Mailbox UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/mailbox/{uuid}":{"get":{"tags":["mailbox-controller"],"summary":"Retrieve envelopes list by specified parameters","operationId":"getEnvelopesInboxUsingGET","produces":["application/json"],"parameters":[{"name":"archived","in":"query","description":"Archived flag","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"expireDatePeriod","in":"query","description":"'expirationDate' period","required":false,"type":"string"},{"name":"label","in":"query","description":"UUIDs of labels to get associated envelopes separated by comma without spaces","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"Limit, how much envelopes to retrieve","required":false,"type":"integer","default":25,"format":"int32"},{"name":"offset","in":"query","description":"Offset, how much envelopes to skip","required":false,"type":"integer","default":0,"format":"int32"},{"name":"receiveDatePeriod","in":"query","description":"'receiveDate' period","required":false,"type":"string"},{"name":"scope","in":"query","description":"Type of mailbox to retrieve envelopes from","required":false,"type":"string","default":"inbox"},{"name":"sender","in":"query","description":"UUID of Sender","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"sort","in":"query","description":"Sorting by received date","required":false,"type":"string","default":"asc"},{"name":"status","in":"query","description":"Statuses of envelopes to retrieve","required":false,"type":"string"},{"name":"subject","in":"query","description":"Subject of envelopes to retrieve","required":false,"type":"string"},{"name":"template","in":"query","description":"UUIDs of Templates","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"uuid","in":"path","description":"UUID of mailbox to get envelopes from","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PageDTO«EnvelopeToMailboxDTO»"}},"401":{"description":"Not authorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/nark":{"post":{"tags":["misc-controller"],"summary":"addFrontendLog","operationId":"addFrontendLogUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"data","description":"Any JSON structure to save into log. Predefined fields are `message` and `level`","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/notification":{"get":{"tags":["notification-controller"],"summary":"Get unread notifications","operationId":"getUnreadNotificationsUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"type":"integer","default":25,"format":"int32"},{"name":"offset","in":"query","description":"Offset records","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageDTO«UserNotificationResponseDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/notification/read/{notificationUuid}":{"put":{"tags":["notification-controller"],"summary":"Mark notification as read","operationId":"markNotificationReadUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"notificationUuid","in":"path","description":"Notification UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/ocsp-proxy":{"get":{"tags":["misc-controller"],"summary":"doOCSPProxy","operationId":"doOCSPProxyUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"requestBody","description":"requestBody","required":false,"schema":{"type":"string","format":"byte"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["misc-controller"],"summary":"doOCSPProxy","operationId":"doOCSPProxyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"requestBody","description":"requestBody","required":false,"schema":{"type":"string","format":"byte"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/permission/account/{accountUuid}":{"get":{"tags":["permission-user-controller"],"summary":"Get users with permissions per account and mailboxes matching requested params","operationId":"getPermissionsUsingGET_1","produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"UUID of Account","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"domains","in":"query","description":"Domains","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"keyword","in":"query","description":"Keyword to search by in: firstName, lastName, email","required":false,"type":"string"},{"name":"limit","in":"query","description":"Limit, how much envelopes to retrieve","required":false,"type":"integer","default":25,"format":"int32"},{"name":"mailboxUuid","in":"query","description":"UUID of Mailbox","required":false,"type":"string","format":"uuid"},{"name":"offset","in":"query","description":"Offset, how much envelopes to skip","required":false,"type":"integer","default":0,"format":"int32"},{"name":"roleUuids","in":"query","description":"UUIDs of Roles","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageDTO«UserMailboxPermissionsDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/permission/invite/{accountUuid}/{userUuid}":{"delete":{"tags":["permission-controller"],"summary":"Revoke invitation for user to account","operationId":"revokeInvitationUsingDELETE","produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"userUuid","in":"path","description":"User UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/permission/invite/{accountUuid}/{userUuid}/resend":{"post":{"tags":["permission-controller"],"summary":"Resend invitation for user to account","operationId":"resendInvitationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"userUuid","in":"path","description":"User UUID","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/v1/permission/role":{"get":{"tags":["role-controller"],"summary":"Read all system roles","operationId":"readAllUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"limit","in":"query","description":"Limit, how much roles to retrieve","required":false,"type":"integer","default":25,"format":"int32"},{"name":"offset","in":"query","description":"Offset, how much roles to skip","required":false,"type":"integer","default":0,"format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PageDTO«RoleGetDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"}},"security":[{"Bearer":[]}]},"post":{"tags":["role-controller"],"summary":"Create a role","operationId":"createUsingPOST_7","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"in":"body","name":"role","description":"role","required":true,"schema":{"$ref":"#/definitions/RoleCreateDTO"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RoleGetDTO"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/RoleGetDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"}},"security":[{"Bearer":[]}]}},"/api/v1/permission/role/account/{uuid}":{"get":{"tags":["role-controller"],"summary":"Read all roles for account including system predefined","operationId":"readAllWithAccountUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"limit","in":"query","description":"Limit, how much roles to retrieve","required":false,"type":"integer","default":25,"format":"int32"},{"name":"name","in":"query","description":"Name to search by","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset, how much roles to skip","required":false,"type":"integer","default":0,"format":"int32"},{"name":"permissions","in":"query","description":"Permissions to search by","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"type","in":"query","description":"type","required":false,"type":"string","enum":["account","mailbox"]},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PageDTO«RoleGetDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"}},"security":[{"Bearer":[]}]}},"/api/v1/permission/role/{uuid}":{"get":{"tags":["role-controller"],"summary":"Read role by UUID","operationId":"readUsingGET","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header starting with 'Bearer'","required":true,"type":"string"},{"name":"uuid","in":"path","description":"uuid","re
[...]
