{"swagger":"2.0","info":{"description":"This specification covers public endpoints only\nCheck <a href=\"/swagger-ui/?urls.primaryName=authorized\">authorized</a> specification for authorized accessible endpoints","version":"1.0","title":"WhiteDoc Api Documentation"},"host":"api.private.whitedoc.space","basePath":"/","tags":[{"name":"registration-controller","description":"Registration Controller"}],"paths":{"/registration":{"post":{"tags":["registration-controller"],"summary":"Register a user. Email with validation code/link will be send to user. ","operationId":"registerUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"code","in":"query","description":"Validation code, required only for invitation","required":false,"type":"string"},{"name":"codeType","in":"query","description":"Type of code","required":false,"type":"string","enum":["envelopeInvite","other"]},{"in":"body","name":"userCreate","description":"userCreate","required":true,"schema":{"$ref":"#/definitions/UserCreateDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registration/check":{"get":{"tags":["registration-controller"],"summary":"Check Reset Password Validation Code is valid","operationId":"checkCodeValidityUsingGET","produces":["application/json"],"parameters":[{"name":"code","in":"query","description":"Validation code from email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registration/requestPasswordReset":{"post":{"tags":["registration-controller"],"summary":"Request password reset.","operationId":"requestResetPasswordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RequestValCodeDTO"}}],"responses":{"200":{"description":"Success","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too many requests for the email"}}}},"/registration/resend":{"post":{"tags":["registration-controller"],"summary":"Resend validation code","operationId":"requestResendValidationCodeUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RequestValCodeDTO"}}],"responses":{"200":{"description":"Success","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too many requests for the email"}}}},"/registration/resetPassword":{"post":{"tags":["registration-controller"],"summary":"Reset password","operationId":"resetPasswordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"resetPassword","description":"resetPassword","required":true,"schema":{"$ref":"#/definitions/ResetPasswordDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registration/validate":{"get":{"tags":["registration-controller"],"summary":"Validation user email by code. Final step for registration. ","operationId":"validationUsingGET","produces":["application/json"],"parameters":[{"name":"code","in":"query","description":"Validation code from email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"426":{"description":"Validation code expired"}}}}},"definitions":{"RequestValCodeDTO":{"type":"object","properties":{"email":{"type":"string"}},"title":"RequestValCodeDTO"},"ResetPasswordDTO":{"type":"object","properties":{"code":{"type":"string"},"password":{"type":"string"}},"title":"ResetPasswordDTO"},"UserCreateDTO":{"type":"object","properties":{"companyName":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"inn":{"type":"string"},"lastName":{"type":"string"},"locale":{"type":"string"},"mailboxes":{"type":"array","uniqueItems":true,"items":{"type":"string"}},"password":{"type":"string"},"timezone":{"type":"string"}},"title":"UserCreateDTO"}}}
