{"swagger":"2.0","info":{"description":"This specification covers public endpoints only\nCheck <a href=\"/swagger-ui/?urls.primaryName=authorized\">authorized</a> specification for authorized accessible endpoints","version":"1.0","title":"WhiteDoc Api Documentation"},"host":"api.private.whitedoc.space","basePath":"/","tags":[{"name":"authentication-controller","description":"Authentication Controller"},{"name":"registration-controller","description":"Registration Controller"}],"schemes":["https"],"paths":{"/api/login":{"post":{"tags":["authentication-controller"],"summary":"Login","operationId":"loginPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"credentials","description":"Login credentials","required":true,"schema":{"$ref":"#/definitions/LoginDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registration":{"post":{"tags":["registration-controller"],"summary":"Register a user with validation code","operationId":"registerPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"code","in":"query","description":"Validation code","required":true,"type":"string"},{"name":"codeType","in":"query","description":"Type of code","required":false,"type":"string","enum":["accountInvite","emailValidation","envelopeInvite"]},{"in":"body","name":"userCreate","description":"userCreate","required":true,"schema":{"$ref":"#/definitions/UserCreateDTO"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/LoginResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registration/passwordPolicy":{"get":{"tags":["registration-controller"],"summary":"Get user password policy","operationId":"getUserPasswordPolicyGET","produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email of user","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PasswordPolicy"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registration/renewPassword":{"post":{"tags":["registration-controller"],"summary":"Renew user's password","operationId":"renewPasswordPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RenewPasswordDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registration/requestPasswordReset":{"post":{"tags":["registration-controller"],"summary":"Request password reset","operationId":"requestResetPasswordPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RequestValCodeDTO"}}],"responses":{"200":{"description":"Success","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too many requests for the email"}}}},"/registration/resetPassword":{"post":{"tags":["registration-controller"],"summary":"Reset password","operationId":"resetPasswordPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"resetPassword","description":"resetPassword","required":true,"schema":{"$ref":"#/definitions/ResetPasswordDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/registration/sendRegistrationCode":{"post":{"tags":["registration-controller"],"summary":"Send email validation code","operationId":"requestResendValidationCodePOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RequestValCodeDTO"}}],"responses":{"200":{"description":"Success","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"429":{"description":"Too many requests for the email"}}}},"/registration/validate":{"get":{"tags":["registration-controller"],"summary":"Validate user email by code","operationId":"validationGET","produces":["application/json"],"parameters":[{"name":"code","in":"query","description":"Validation code from email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"426":{"description":"Validation code expired"}}}}},"definitions":{"LoginDTO":{"type":"object","properties":{"login":{"type":"string","description":"User email"},"password":{"type":"string","description":"User password"}},"title":"LoginDTO"},"LoginResponseDTO":{"type":"object","properties":{"token":{"type":"string","description":"Authorization token"}},"title":"LoginResponseDTO"},"PasswordPolicy":{"type":"object","properties":{"allowWhitespace":{"type":"boolean"},"digit":{"type":"integer","format":"int32"},"expirationDays":{"type":"integer","format":"int32"},"lowercase":{"type":"integer","format":"int32"},"maxLength":{"type":"integer","format":"int32"},"minLength":{"type":"integer","format":"int32"},"notifyBeforeDays":{"type":"integer","format":"int32"},"preventCommonPasswords":{"type":"boolean"},"preventCommonWords":{"type":"boolean"},"preventReuseCount":{"type":"integer","format":"int32"},"preventReuseMonths":{"type":"integer","format":"int32"},"repeatCharacter":{"type":"integer","format":"int32"},"specialSymbol":{"type":"integer","format":"int32"},"uppercase":{"type":"integer","format":"int32"}},"title":"PasswordPolicy"},"RenewPasswordDTO":{"type":"object","properties":{"email":{"type":"string","description":"User's email"},"newPassword":{"type":"string","description":"New Password"},"oldPassword":{"type":"string","description":"Old password"}},"title":"RenewPasswordDTO"},"RequestValCodeDTO":{"type":"object","properties":{"email":{"type":"string"}},"title":"RequestValCodeDTO"},"ResetPasswordDTO":{"type":"object","properties":{"code":{"type":"string"},"password":{"type":"string"}},"title":"ResetPasswordDTO"},"UserCreateDTO":{"type":"object","required":["agreed"],"properties":{"agreed":{"type":"boolean","description":"Agreed with terms of service"},"companyName":{"type":"string","description":"Company name","minLength":2,"maxLength":255},"email":{"type":"string","description":"Email"},"firstName":{"type":"string","description":"First name","minLength":1,"maxLength":255},"inn":{"type":"string","minLength":8,"maxLength":128},"lastName":{"type":"string","description":"Last name","minLength":1,"maxLength":255},"locale":{"type":"string","description":"User locale"},"mailboxes":{"type":"array","uniqueItems":true,"items":{"type":"string"}},"password":{"type":"string","description":"Password"},"phone":{"type":"string","description":"User phone"},"timezone":{"type":"string","description":"User preferred timezone"}},"title":"UserCreateDTO"}}}
