{"openapi":"3.0.1","info":{"title":"DocStudio Api Documentation","version":"R81.7"},"servers":[{"url":"https://api.develop.whitedoc.space","description":"Generated server url"}],"paths":{"/api/v1/user/signature":{"put":{"tags":["user-controller"],"summary":"Update user's eink signature in base64 format","operationId":"changeSignature","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/user/profile":{"get":{"tags":["user-controller"],"summary":"Retrieve user profile","operationId":"getProfile","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["user-controller"],"summary":"Update user's profile","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/user/password":{"put":{"tags":["user-controller"],"summary":"Update user's password","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePasswordDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/user/invite/{uuid}":{"put":{"tags":["user-controller"],"summary":"Update invitation by userUuid.","operationId":"updateInvitation","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/upload/{uploadUuid}/confirm":{"put":{"tags":["upload-controller"],"summary":"Approve import process","operationId":"confirm","parameters":[{"name":"uploadUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmUploadDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/template/{uuid}":{"get":{"tags":["template-controller"],"summary":"Retrieve template by UUID","operationId":"getTemplateByUuid","parameters":[{"name":"uuid","in":"path","description":"UUID of template to retrieve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"templateVersion","in":"query","description":"UUID of version","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullTemplateResponseDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["template-controller"],"summary":"Update template in DB. Category in template could be null.","operationId":"update","parameters":[{"name":"uuid","in":"path","description":"Template uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullTemplateResponseDTO"}}}}},"security":[{"Authorization":[]}]},"head":{"tags":["template-controller"],"summary":"Check template exists by UUID","operationId":"checkTemplateExistsByUuid","parameters":[{"name":"uuid","in":"path","description":"UUID of template to retrieve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/scenario/{scenarioUuid}":{"get":{"tags":["scenario-controller"],"summary":"Get scenario","operationId":"getScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["scenario-controller"],"summary":"Update scenario","operationId":"updateScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["scenario-controller"],"summary":"Run scenario","operationId":"runScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["scenario-controller"],"summary":"Delete scenario","operationId":"deleteScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/scenario/{scenarioUuid}/clone":{"put":{"tags":["scenario-controller"],"summary":"Clone scenario","operationId":"cloneScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/permission/{userUuid}/mailbox/{mailboxUuid}":{"put":{"tags":["permission-mailbox-controller"],"summary":"Replace all permissions for selected user-to-mailbox relation","operationId":"replaceAllPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["permission-mailbox-controller"],"summary":"Delete all permissions and roles for selected user-to-mailbox relation","operationId":"deleteAllPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]},"patch":{"tags":["permission-mailbox-controller"],"summary":"Add exact permissions/roles leaving existing as is. Ignore if already present.","operationId":"patchMbPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/permission/{userUuid}/account/{accountUuid}":{"get":{"tags":["permission-account-controller"],"summary":"Read all user permissions","operationId":"getUserAccountPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountPermissionsDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["permission-account-controller"],"summary":"Replace all permissions for selected user-to-account relation","operationId":"replaceAllPermissionsPermissionAccount","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"post":{"tags":["permission-account-controller"],"summary":"Write user permissions","operationId":"setUserAccountPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasePermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["permission-account-controller"],"summary":"Delete user from account totally","operationId":"deleteAccAllPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]},"patch":{"tags":["permission-account-controller"],"summary":"Add exact permission for selected user-to-account relation. Add if absent or ignore if already present.","operationId":"patchMbPermissionsPermissionAccount","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/permission/role/{uuid}":{"get":{"tags":["role-controller"],"summary":"Read role by UUID","operationId":"read","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleGetDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["role-controller"],"summary":"Update role, allow to change name and permissions","operationId":"updateRole","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleGetDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["role-controller"],"operationId":"delete","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/mailbox/{mailboxUuid}":{"put":{"tags":["mailbox-controller"],"summary":"Update mailbox","operationId":"updateMailbox","parameters":[{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxUpdateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountMailboxInfoDTO"}}}}},"security":[{"Authorization":[]}]},"patch":{"tags":["mailbox-controller"],"summary":"Patch mailbox, return patched mailbox w/o users count","operationId":"patchMailbox","parameters":[{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxPatchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountMailboxInfoDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/label/{uuid}":{"put":{"tags":["label-controller"],"summary":"Update label","operationId":"updateLabel","parameters":[{"name":"uuid","in":"path","description":"UUID of label to update","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["label-controller"],"summary":"Delete label","operationId":"deleteLabel","parameters":[{"name":"uuid","in":"path","description":"UUID of label to delete","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/integration/rule/{integrationRuleUuid}":{"get":{"tags":["integration-controller"],"summary":"Get Mailbox integration rule","operationId":"getMailboxIntegrationRule","parameters":[{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["integration-controller"],"summary":"Update Mailbox integration rule","operationId":"updateMailboxIntegrationRule","parameters":[{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["integration-controller"],"summary":"Delete Mailbox integration rule","operationId":"deleteMailboxIntegrationRule","parameters":[{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/filterSettings/{uuid}":{"get":{"tags":["filter-settings-controller"],"summary":"Get by UUID","operationId":"getByUuid","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSettingsDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["filter-settings-controller"],"summary":"Update FilterSettings for mailbox","operationId":"updateFilterSettings","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSettingsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["filter-settings-controller"],"summary":"Delete FilterSettings","operationId":"deleteFilterSettings","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope":{"put":{"tags":["envelope-controller"],"summary":"Update draft envelope","operationId":"updateEnvelope","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"post":{"tags":["envelope-controller"],"summary":"Create draft envelope","operationId":"createEnvelope","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvPostDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Delete draft envelopes","operationId":"deleteDrafts","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEnvelopeActionDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/{envelopeUuid}/sign":{"put":{"tags":["envelope-controller"],"summary":"Sign envelope documents","operationId":"sign","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope to update","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Document signatures","items":{"$ref":"#/components/schemas/EnvelopeDocumentSignaturesDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/{envelopeUuid}/comment":{"get":{"tags":["envelope-controller"],"summary":"Get envelope comments for each document","operationId":"getEnvelopeComments","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentCommentsDTO"}}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["envelope-controller"],"summary":"Add/Update envelope comment in thread","operationId":"updateEnvelopeComment","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPutDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentThreadDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["envelope-controller"],"summary":"Create envelope comment thread","operationId":"createEnvelopeComment","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPostDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentThreadDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Delete envelope comment in thread or the whole thread","operationId":"deleteEnvelopeComment","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"threadUuid","in":"query","description":"Thread UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"messageId","in":"query","description":"Message ID (optional)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentThreadDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/{envelopeUuid}/comment-access":{"put":{"tags":["envelope-controller"],"summary":"Update envelope comment thread access level","operationId":"updateEnvelopeCommentAccess","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentAccessDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentThreadDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/{envelopeUuid}/approval/{flowUuid}":{"get":{"tags":["envelope-controller"],"summary":"Get envelope approval","operationId":"getApprovalFlow","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope to approve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"flowUuid","in":"path","description":"Flow to approve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeApprovalHistoryDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["envelope-controller"],"summary":"Approve or Reject envelope","operationId":"envelopeApproval","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope to approve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"flowUuid","in":"path","description":"Flow to approve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalStatusDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Cancel envelope approval","operationId":"cancelApprovalFlow","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope to approve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"flowUuid","in":"path","description":"Flow to approve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/send-for-approval":{"put":{"tags":["envelope-controller"],"summary":"Send envelope for approval","operationId":"sendForApproval","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeApprovalRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/fill":{"put":{"tags":["envelope-controller"],"summary":"Fill envelope","operationId":"fill","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/column/{uuid}":{"put":{"tags":["envelope-search-controller"],"summary":"Update column to display","operationId":"updateColumn","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEnvColumnDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/chain/{chainUuid}":{"get":{"tags":["envelope-controller"],"summary":"Get chain envelopes list","operationId":"getChainEnvelopes","parameters":[{"name":"chainUuid","in":"path","description":"Chain UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChainEnvelopeDTO"}}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["envelope-controller"],"summary":"Add envelopes into chain","operationId":"addEnvelopesIntoChain","parameters":[{"name":"chainUuid","in":"path","description":"Chain UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","description":"Envelopes UUIDs","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/column/{columnUuid}":{"get":{"tags":["dictionary-controller"],"summary":"Retrieve column values from dictionary","operationId":"getColumnValues","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"keyword","in":"query","description":"Keyword to search by","required":false,"schema":{"type":"string"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTODictionaryColumnValueResponseDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["dictionary-controller"],"summary":"Update dictionary column","operationId":"updateColumnDictionary","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryColumnRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryColumnResponseDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["dictionary-controller"],"summary":"Delete column. Will return deleted column UUID","operationId":"deleteColumnDictionary","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/contact/{uuid}":{"put":{"tags":["contact-controller"],"summary":"Update the contact in DB","operationId":"updateContact","parameters":[{"name":"uuid","in":"path","description":"Contact UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactResponseDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["contact-controller"],"summary":"Delete contact by Id","operationId":"deleteContact","parameters":[{"name":"uuid","in":"path","description":"Contact UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/category/{id}":{"put":{"tags":["category-controller"],"summary":"Update the category in DB","operationId":"updateCategory","parameters":[{"name":"id","in":"path","description":"Category Id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["category-controller"],"summary":"Delete category by Id","operationId":"deleteCategory","parameters":[{"name":"id","in":"path","description":"Category Id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"moveTo","in":"query","description":"Optional id of category to move all subordinated (if any)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/approvalFlow/{flowUuid}":{"get":{"tags":["approval-flow-controller"],"summary":"Retrieve approval flow","operationId":"retrieve","parameters":[{"name":"flowUuid","in":"path","description":"UUID of the approval flow","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxApprovalFlowGetDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["approval-flow-controller"],"summary":"Update approval flow","operationId":"updateApprovalFlow","parameters":[{"name":"flowUuid","in":"path","description":"UUID of the approval flow","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxApprovalFlowDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/account/{uuid}":{"get":{"tags":["account-controller"],"operationId":"getAccountDetails","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"withUsers","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["account-controller"],"operationId":"updateAccountDetails","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["account-controller"],"summary":"Delete account","operationId":"deleteAccount","parameters":[{"name":"checkMessage","in":"query","description":"Proof message","required":true,"schema":{"type":"string"}},{"name":"uuid","in":"path","description":"UUID of account to delete","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/account/{accountUuid}/idp/{idpUuid}":{"get":{"tags":["account-domain-controller"],"summary":"Get account SSO IdP","operationId":"getAccountIdp","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"idpUuid","in":"path","description":"IdP UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSsoIdProviderDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["account-domain-controller"],"summary":"Update account SSO Identity Provider","operationId":"updateAccountSsoIdp","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"idpUuid","in":"path","description":"IdP UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSsoIdProviderUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSsoIdProviderDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["account-domain-controller"],"summary":"Delete account SSO IdP","operationId":"deleteAccountIdp","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"idpUuid","in":"path","description":"IdP UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/account/{accountUuid}/external-link/{linkUuid}":{"put":{"tags":["external-link-controller"],"summary":"Update external link","operationId":"updateExternalLink","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"linkUuid","in":"path","description":"Link UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalLinkRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalLinkResponseDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["external-link-controller"],"summary":"Delete external link","operationId":"deleteExternalLink","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"linkUuid","in":"path","description":"Link UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/account/{accountUuid}/domain/{domainUuid}":{"get":{"tags":["account-domain-controller"],"summary":"Get account domain","operationId":"getAccountDomain","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDomainDTO"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["account-domain-controller"],"summary":"Update account domain","operationId":"updateAccountDomain","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDomainUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDomainDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["account-domain-controller"],"summary":"Delete account domain","operationId":"deleteAccountDomain","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/account/{accountUuid}/crypto-configs":{"get":{"tags":["account-controller"],"summary":"Get crypto configs","operationId":"getCryptoConfigs","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CryptoConfigDTO"}}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["account-controller"],"summary":"Add crypto configs","operationId":"addNewCryptoConfigs","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CryptoConfigDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["account-controller"],"summary":"Delete crypto configs","operationId":"deleteCryptoConfigs","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/saml/logout":{"post":{"tags":["sso-authentication-controller"],"summary":"Logout","operationId":"logout","responses":{"200":{"description":"OK"}}}},"/saml/login":{"get":{"tags":["sso-authentication-controller"],"summary":"Login with SSO, redirect to UI after login","operationId":"loginGetSso","parameters":[{"name":"idp","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"302":{"description":"Found"}}},"post":{"tags":["sso-authentication-controller"],"summary":"Login with SSO, token is in response","operationId":"loginPostSso","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponseDTO"}}}}}}},"/registration":{"post":{"tags":["registration-controller"],"summary":"Register a user with validation code","operationId":"register","parameters":[{"name":"code","in":"query","description":"Validation code","required":true,"schema":{"type":"string"}},{"name":"codeType","in":"query","description":"Type of code","required":false,"schema":{"type":"string","enum":["envelopeInvite","accountInvite","emailValidation","sharedByEmail"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponseDTO"}}}}}}},"/registration/sendRegistrationCode":{"post":{"tags":["registration-controller"],"summary":"Send email validation code","operationId":"requestResendValidationCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestValCodeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/registration/resetPassword":{"post":{"tags":["registration-controller"],"summary":"Reset password","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/registration/requestPasswordReset":{"post":{"tags":["registration-controller"],"summary":"Request password reset","operationId":"requestResetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestValCodeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/registration/renewPassword":{"post":{"tags":["registration-controller"],"summary":"Renew user's password","operationId":"renewPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenewPasswordDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/user/invite":{"post":{"tags":["user-controller"],"summary":"Create invitation to join account or mailbox with defined permissions.","operationId":"createInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationPostDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/user/invite/accept/{inviteCode}":{"post":{"tags":["user-controller"],"summary":"Accept invite","operationId":"acceptInvite","parameters":[{"name":"inviteCode","in":"path","description":"Invite code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/user/info":{"post":{"tags":["user-controller"],"summary":"Retrieve users info","operationId":"getMailboxesInfo","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"UUIDs of users to get info about","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/UserInfoDTO"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/upload/dictionary/{dictionaryUuid}":{"post":{"tags":["upload-controller"],"summary":"Upload dictionary file for importing","operationId":"uploadDictionary","parameters":[{"name":"dictionaryUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/token":{"get":{"tags":["application-token-controller"],"summary":"List application tokens","operationId":"createTokenApplicationToken","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppTokenDTO"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["application-token-controller"],"summary":"Create application token","operationId":"createToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAppTokenDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppTokenDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/template":{"get":{"tags":["template-controller"],"summary":"Get paged templates list","operationId":"searchTemplates","parameters":[{"name":"level","in":"query","description":"Template access level, 'pub' by default.","required":false,"schema":{"type":"string","default":"pub","enum":["mailbox","account","pub","official","shared"]}},{"name":"keyword","in":"query","description":"Keyword to search template by or template UUID","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Category id to search template in","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"extended","in":"query","description":"Add extended info to each template (access, account, categories)","required":false,"schema":{"type":"boolean","default":false}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTOSearchTemplateDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["template-controller"],"summary":"Create new template","operationId":"create","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullTemplateResponseDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/template/{uuid}/clone":{"post":{"tags":["template-controller"],"summary":"Clone template","operationId":"clone","parameters":[{"name":"uuid","in":"path","description":"Template UUID to clone","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullTemplateResponseDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/template/pdf":{"post":{"tags":["template-controller"],"summary":"Upload new PDF","operationId":"uploadPdf","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedPdfDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/template/image":{"post":{"tags":["template-controller"],"summary":"Upload new image","operationId":"uploadImage","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedImageDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/scenario":{"get":{"tags":["scenario-controller"],"summary":"Get paged scenario list","operationId":"searchScenarios","parameters":[{"name":"level","in":"query","description":"Scenario access level, 'pub' by default.","required":false,"schema":{"type":"string","default":"pub","enum":["mailbox","account","pub","official","shared"]}},{"name":"keyword","in":"query","description":"Keyword to search scenario by or scenario UUID","required":false,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTOScenarioShortDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["scenario-controller"],"summary":"Create new scenario","operationId":"createNewScenario","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/permission/role":{"get":{"tags":["role-controller"],"summary":"Read all system roles","operationId":"readAll","parameters":[{"name":"offset","in":"query","description":"Offset, how much roles to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how much roles to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTORoleGetDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["role-controller"],"summary":"Create a role","operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleGetDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/permission/invite/{accountUuid}/{userUuid}/resend":{"post":{"tags":["permission-controller"],"summary":"Resend invitation for user to account","operationId":"resendInvitation","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","description":"User UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/notification/read":{"post":{"tags":["notification-controller"],"summary":"Mark notifications as read","operationId":"markNotificationRead","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Notification UUIDs","items":{"$ref":"#/components/schemas/SingleUuidDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/notification/read-all":{"post":{"tags":["notification-controller"],"summary":"Mark notifications as read","operationId":"markAllNotificationRead","responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/notification/mailbox-preferences":{"get":{"tags":["notification-controller"],"summary":"Get mailbox related notification preferences","operationId":"getMailboxPreferences","parameters":[{"name":"Mailbox","in":"header","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["notification-controller"],"summary":"Save mailbox related notification preferences","operationId":"saveMailboxPreferences","parameters":[{"name":"Mailbox","in":"header","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}},"description":"Preferences map, possible keys (email, web)"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/notification/account-preferences":{"get":{"tags":["notification-controller"],"summary":"Get account related notification preferences","operationId":"getAccountPreferences","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["notification-controller"],"summary":"Save account related notification preferences","operationId":"saveAccountPreferences","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}},"description":"Preferences map, possible keys (email, web)"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/mailbox/info":{"post":{"tags":["mailbox-controller"],"summary":"Retrieve mailboxes info","operationId":"getMailboxesInfoMailbox","parameters":[{"name":"accountName","in":"query","description":"Including account name","required":false,"schema":{"type":"boolean","default":false}},{"name":"accountITN","in":"query","description":"Including account ITN","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"UUIDs of mailboxes to get info about","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/MailboxInfoDTO"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/mailbox/account/{uuid}":{"get":{"tags":["mailbox-controller"],"summary":"Read list of mailboxes","operationId":"getMailboxesByAccount","parameters":[{"name":"uuid","in":"path","description":"UUID of account for which to create a mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MailboxNameUuidDTO"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["mailbox-controller"],"summary":"Create mailbox","operationId":"createMailbox","parameters":[{"name":"uuid","in":"path","description":"UUID of account for which to create a mailbox","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"code","in":"query","description":"Invitation code from email","required":false,"schema":{"type":"string"}},{"name":"codeType","in":"query","description":"Type of code","required":false,"schema":{"type":"string","enum":["envelopeInvite","accountInvite","emailValidation","sharedByEmail"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User2MailboxDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/label":{"get":{"tags":["label-controller"],"summary":"Retrieve all labels for mailbox for authorized user","operationId":"getAll","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LabelDTO"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["label-controller"],"summary":"Save label to DB","operationId":"createLabel","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/label/assignments":{"post":{"tags":["label-controller"],"summary":"Assign label to envelopes","operationId":"assignments","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelAssociationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["label-controller"],"summary":"Unassign label from envelopes","operationId":"deAssignments","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelAssociationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/integration/{mailboxUuid}":{"get":{"tags":["integration-controller"],"summary":"Get Mailbox integration","operationId":"getMailboxIntegration","parameters":[{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["integration-controller"],"summary":"Create/update Mailbox integration","operationId":"saveMailboxIntegration","parameters":[{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/integration/rule/{mailboxUuid}":{"post":{"tags":["integration-controller"],"summary":"Create Mailbox integration rule","operationId":"createMailboxIntegrationRule","parameters":[{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/integration/rule/execute":{"post":{"tags":["integration-controller"],"summary":"Execute conversion map and generate file name (if pattern rule defined)","operationId":"execute","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleResponseDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/integration/new-password/{mailboxUuid}":{"post":{"tags":["integration-controller"],"summary":"Generate and save new password","operationId":"newPassword","parameters":[{"name":"mailboxUuid","in":"path","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/integration/convert-binary":{"post":{"tags":["integration-controller"],"summary":"Convert incoming file to XML view","operationId":"convertBinaryToXML","parameters":[{"name":"filename","in":"query","description":"filename, for type detection","required":true,"schema":{"type":"string"}},{"name":"mailboxUuid","in":"query","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"short":{"type":"integer","format":"int32"},"char":{"type":"string"},"int":{"type":"integer","format":"int32"},"long":{"type":"integer","format":"int64"},"float":{"type":"number","format":"float"},"double":{"type":"number","format":"double"},"direct":{"type":"boolean"},"readOnly":{"type":"boolean"}},"description":"file content"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/formula":{"post":{"tags":["misc-controller"],"summary":"Calculate excel formulas for documents","operationId":"calculateFormula","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocFormulaRequestDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/filterSettings":{"get":{"tags":["filter-settings-controller"],"summary":"Read all by mailbox","operationId":"getAllFilterSettings","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterSettingsDTO"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["filter-settings-controller"],"summary":"Create FilterSettings for mailbox","operationId":"createFilterSettings","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSettingsCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/{envelopeUuid}/scenario/{stepId}":{"post":{"tags":["envelope-controller"],"summary":"Continue scenario flow with step","operationId":"continueScenarioStep","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"stepId","in":"path","description":"Step id","required":true,"schema":{"type":"string"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/{envelopeUuid}/resolve-comment":{"post":{"tags":["envelope-controller"],"summary":"Set Resolved Flag for comment thread","operationId":"resolvedEnvelopeComment","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveCommentThreadDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/{envelopeUuid}/for-sign":{"post":{"tags":["envelope-controller"],"summary":"PDFs and XMLs for signing","operationId":"getDocumentsForSign","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentsForSignRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentForSigningDTO"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/share":{"post":{"tags":["envelope-controller"],"summary":"Share envelopes by email","operationId":"shareEnvelopesByEmail","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeSharedArchiveRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/send":{"post":{"tags":["envelope-controller"],"summary":"Send envelope","operationId":"send","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvPostDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/send-by-share-code":{"post":{"tags":["envelope-controller"],"summary":"Send envelope by template code","operationId":"sendByTemplateCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEnvByCodeDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}}}},"/api/v1/envelope/search":{"post":{"tags":["envelope-search-controller"],"summary":"Search envelopes","operationId":"searchEnvelopes","parameters":[{"name":"offset","in":"query","description":"Offset, how many envelopes to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how many envelopes to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"uuidOnly","in":"query","description":"Retrieve only UUID of envelope","required":false,"schema":{"type":"boolean"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchEnvelopesDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopePageDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/search/roles":{"post":{"tags":["envelope-search-controller"],"summary":"Retrieve all template roles","operationId":"getTemplateRoles","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","description":"UUIDs of template","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateRolesDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/search-approvals":{"post":{"tags":["envelope-search-controller"],"summary":"Search envelopes for approval","operationId":"searchEnvelopesForApproval","parameters":[{"name":"offset","in":"query","description":"Offset, how many envelopes to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how many envelopes to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchApprovalsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeApprovalPageDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/report":{"post":{"tags":["envelope-search-controller"],"summary":"Request envelopes report","operationId":"createReport","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportEnvelopeRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/quick-send":{"post":{"tags":["envelope-controller"],"summary":"Quick send envelope with external documents only","operationId":"quickSendExternalDocuments","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["data","files"],"type":"object","properties":{"files":{"type":"array","description":"Files for external documents","items":{"type":"string","format":"binary"}},"data":{"$ref":"#/components/schemas/QuickSendDTO"}}}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/notify":{"post":{"tags":["envelope-controller"],"summary":"Resend notifications for active roles","operationId":"resendNotifications","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportEnvelopeRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/invitations":{"get":{"tags":["envelope-controller"],"summary":"Get user's pending invitations","operationId":"getUserPendingInvitations","parameters":[{"name":"offset","in":"query","description":"Offset, how much envelopes to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how much envelopes to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTOEnvelopeToMailboxDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["envelope-controller"],"summary":"Accept user's pending invitations","operationId":"acceptUserPendingInvitations","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Envelope UUID list to accept invitations to","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"head":{"tags":["envelope-controller"],"summary":"Check user has pending invitations","operationId":"checkUserHasInvitations","responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/fields":{"post":{"tags":["envelope-search-controller"],"summary":"Get search fields","operationId":"getSearchFields","parameters":[{"name":"name","in":"query","description":"Field name term","required":true,"schema":{"maxLength":2147483647,"minLength":2,"type":"string"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchEnvelopesDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnvelopeSearchField"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/delegate":{"post":{"tags":["envelope-controller"],"summary":"Delegate envelopes","operationId":"delegateEnvelopes","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvDelegationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Cancel envelope delegation","operationId":"cancelEnvelopeDelegation","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvCancelDelegationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/confirm-invite":{"post":{"tags":["envelope-controller"],"summary":"Accept/confirm invitations","operationId":"confirmInvite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeConfirmInviteDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/column":{"post":{"tags":["envelope-search-controller"],"summary":"Add a new column to display","operationId":"addNewColumn","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewEnvColumnDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["envelope-search-controller"],"summary":"Delete columns from displaying","operationId":"deleteColumn","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteEnvColumnDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/clone-attachment":{"post":{"tags":["envelope-controller"],"summary":"Clone an existing attachment","operationId":"cloneAttachment","parameters":[{"name":"attachmentUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedAttachmentDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/check":{"post":{"tags":["envelope-controller"],"summary":"Check an envelope","operationId":"check","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/chain":{"post":{"tags":["envelope-controller"],"summary":"Merge envelopes into chain","operationId":"mergeEnvelopesIntoChain","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","description":"Envelopes UUIDs","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/callback/add":{"post":{"tags":["envelope-callback-controller"],"summary":"Add new callback","operationId":"createCallback","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEnvelopeCallbackDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeCallbackDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/envelope/attachment":{"post":{"tags":["envelope-controller"],"summary":"Create/upload new attachment","operationId":"createAttachment","parameters":[{"name":"validate","in":"query","required":false,"schema":{"type":"string","enum":["EDITABLE_DOCUMENT"]}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["all","document","file","image","archive"]}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedAttachmentDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/dictionary":{"get":{"tags":["dictionary-controller"],"summary":"Get paged dictionary list","operationId":"searchDictionaries","parameters":[{"name":"level","in":"query","description":"Dictionary access level, 'pub' by default.","required":false,"schema":{"type":"string","default":"pub","enum":["mailbox","account","pub","official","shared"]}},{"name":"keyword","in":"query","description":"Keyword to search dictionary by or dictionary UUID","required":false,"schema":{"type":"string"}},{"name":"withColumns","in":"query","description":"Add columns description to each dictionary","required":false,"schema":{"type":"boolean","default":false}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTODictionaryResponseDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["dictionary-controller"],"summary":"Create empty dictionary","operationId":"createDictionary","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/records":{"post":{"tags":["dictionary-controller"],"summary":"Get dictionary records","operationId":"getDictionaryRecords","parameters":[{"name":"dictionaryUuid","in":"path","description":"UUID of dictionary","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryFiltersRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTODictionaryRecordValuesResponseDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/record":{"post":{"tags":["dictionary-controller"],"summary":"Create record(s)","operationId":"createRecord","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Records to insert. Each record is list of column values","items":{"type":"array","items":{"$ref":"#/components/schemas/DictionaryColumnValueRequestDTO"}}}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRecordsResponseDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["dictionary-controller"],"summary":"Delete record(s). Will return deleted records UUID(s)","operationId":"deleteRecords","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Record UUID(s)","items":{"$ref":"#/components/schemas/SingleUuidDTO"}}}},"required":true},"responses":{"204":{"description":"No Content","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/record-uuids":{"post":{"tags":["dictionary-controller"],"summary":"Get dictionary record uuids by values","operationId":"getDictionaryRecordUuids","parameters":[{"name":"dictionaryUuid","in":"path","description":"UUID of dictionary","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryRecordsRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string","format":"uuid"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/download":{"post":{"tags":["dictionary-controller"],"summary":"Download the dictionary","operationId":"download","parameters":[{"name":"dictionaryUuid","in":"path","description":"UUID of dictionary","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryDownloadParamsDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportTaskStatusDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/column":{"post":{"tags":["dictionary-controller"],"summary":"Create dictionary column","operationId":"createColumn","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryColumnRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/contact":{"post":{"tags":["contact-controller"],"summary":"Save a contact in DB","operationId":"createContact","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactResponseDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/category":{"post":{"tags":["category-controller"],"summary":"Save a category in DB","operationId":"createCategory","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/audit":{"post":{"tags":["misc-controller"],"summary":"Audit log","operationId":"auditLog","parameters":[{"name":"offset","in":"query","description":"Offset, how many records to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how many records to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchActivityLogDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDTOActivityLogRecordDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/audit/report":{"post":{"tags":["misc-controller"],"summary":"Request audit report","operationId":"createAuditReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchActivityLogDTO"}}},"required":true},"responses":{"201":{"description":"Created"}},"security":[{"Authorization":[]}]}},"/api/v1/approvalFlow":{"get":{"tags":["approval-flow-controller"],"summary":"Retrieve approval flows","operationId":"search","parameters":[{"name":"keyword","in":"query","description":"Keyword to search approval flow by name","required":false,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTOMailboxApprovalFlowGetDTO"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["approval-flow-controller"],"summary":"Create approval flow","operationId":"createApprovalFlow","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxApprovalFlowDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["approval-flow-controller"],"summary":"Delete approval flows","operationId":"deleteApprovalFlow","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Approval flow UUID(s)","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/alias":{"post":{"tags":["alias-controller"],"summary":"Save alias to mailbox","operationId":"createAlias","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AliasDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AliasDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["alias-controller"],"summary":"Delete alias","operationId":"deleteAlias","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Authorization":[]}]}},"/api/v1/account":{"post":{"tags":["account-controller"],"summary":"Create account and mailbox(es) under this account. User will be assigned with default system roles for this account and mailbox(es).","operationId":"createAccount","parameters":[{"name":"code","in":"query","description":"Invitation code from email","required":false,"schema":{"type":"string"}},{"name":"codeType","in":"query","description":"Type of code","required":false,"schema":{"type":"string","enum":["envelopeInvite","accountInvite","emailValidation","sharedByEmail"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User2AccountWithMailboxesDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/account/{accountUuid}/users":{"post":{"tags":["account-controller"],"summary":"Get users with permissions per account and mailboxes","operationId":"getUsersPermissions","parameters":[{"name":"accountUuid","in":"path","description":"UUID of Account","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"offset","in":"query","description":"Offset, how much envelopes to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how much envelopes to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersSearchFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTOUserMailboxPermissionsDTO"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/account/{accountUuid}/users/report":{"post":{"tags":["account-controller"],"summary":"Generate account users report","operationId":"usersReport","parameters":[{"name":"accountUuid","in":"path","description":"UUID of Account","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportUsersRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created"}},"security":[{"Authorization":[]}]}},"/api/v1/account/{accountUuid}/user":{"post":{"tags":["account-controller"],"summary":"Create corporate user","operationId":"createCorporateUser","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateUserCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["account-controller"],"summary":"Delete corporate users","operationId":"deleteCorporateUsers","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{
[...]
